@keyframes moveText {
  50% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(50%);
  }
}

.moving-text {
  animation: moveText 30s linear infinite;
}
.welcome-container {
  position: relative;
  overflow: hidden;
  height: 2;
  opacity: 0;
  transition: height 1s ease-in-out, opacity 0.5s ease-in-out;
}

.welcome-container.active {
  height: auto;
  opacity: 1;
  transition: height 1s ease-in-out, opacity 0.5s ease-in-out;
}
